body {
  background-color: cadetblue;
}

@media (min-width: 300px) {
  body {
    background-color: hsl(0, 100%, 48%);
  }
}

@media (min-width: 576px) {
  body {
    background-color: rgb(61, 36, 153);
    color: gray;
  }
}
