h1 {
    color: purple;
}

h2 {
    color: rgb(71, 38, 102);
}

.green-text {
    color: green;
}

p {
    color: yellow;
}

.my-text {
    color: red;
    background-color: darkgreen;
    font-size: 12px;
}